[package]
name = "jetstream_rpc"
version = "8.0.5"
edition = { workspace = true }
description = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
documentation.workspace = true


crate-type = ["rlib", "staticlib", "cdylib"]


[lib]
bench = false

[dependencies]
trait-variant = "0.1.2"
okstd = { version = "0.2.0", features = ["macros"] }
futures = "0.3.31"
tokio-util = { version = "0.7.13", features = ["codec"] }
bytes = "1.9.0"
thiserror = "2.0.11"
lazy_static = "1.5.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
jetstream_wireformat = { version = "8.0.5", path = "../jetstream_wireformat", no-default-features = true, features = [
    "std",
] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
jetstream_wireformat = { version = "8.0.5", path = "../jetstream_wireformat" }
tokio = { version = "1.43.0", features = ["full"] }

[dev-dependencies]
bytes = "1.9.0"
anyhow = "1.0.94"
s2n-quic = "1.52.0"
