[package]
name = "jetstream_rpc"
version = { workspace = true }
edition = { workspace = true }
description = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[dependencies]
async-trait = "0.1.83"
jetstream_wireformat = { version = "5.2.2", path = "../jetstream_wireformat" }
okstd = { version = "0.1.10" }
tokio = { version = "1.40.0", features = ["full"] }
