/target
/book
/docs/crates
book/
docs/doc/
.tracey/*
.direnv/*
.tracey/
**/node_modules/
dist/
.build/

# Buck2
/prelude/
/buck-out/
.buck/
third-party/vendor/
third-party/Cargo.lock
third-party/BUCK
