[package]
name = "jetstream"
version = "3.0.0"
edition = "2021"
description = "Jetstream is a RPC framework for Rust, based on the 9P protocol and QUIC."
license = "BSD-3-Clause"
repository = "https://github.com/sevki/jetstream"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html



[features]
default = ["async", "tokio"]

filesystem = []
client = []
async = []
tokio = []
cros-async = []

[dependencies]
futures = "0.3.30"
jetstream_wire_format_derive = { path = "./third_party/p9_wire_format_derive", version = "3.0.0" }
tokio = { version = "1.39.2", features = ["full"] }
anyhow = "1.0.82"
async-trait = "0.1.80"
libc = "0.2.152"
s2n-quic = "1.37.0"
genfs = "0.1.4"
tokio-stream = { version = "0.1.15", features = ["full"] }
async-stream = "0.3.5"
clap = "4.5.3"
tokio-util = { version = "0.7.10", features = ["full"] }
tmpdir = "1.0.0"
x509-certificate = "0.23.1"
crc64 = "2.0.0"
tuple-map = "0.4.0"
futures-util = "0.3.30"
colored = "2.1.0"
serde = { version = "1.0.196", features = ["derive"] }
lazy_static = "1.4.0"
tower = "0.4.13"
bytes = "1.6.0"
slog = "2.7.0"
slog-term = "2.9.1"
slog-scope = "4.4.0"
termcolor = "1.4.1"
parking_lot = "0.12.1"
crc16 = "0.4.0"
slog-envlogger = "2.2.0"
tokio-vsock = "0.5.0"
zerocopy = { version = "0.7.32", features = ["derive", "simd"] }
paste = "1.0.14"

[build-dependencies]
pkg-config = "0.3"
which = "6.0.1"

[dev-dependencies]

[workspace]

members = [ 
    "e2e_tests",
    "third_party/p9_wire_format_derive",
]
