[package]
name = "jetstream"
version = "0.1.0"
edition = "2021"
description = "Jetstream is a RPC framework for Rust, based on the 9P protocol and QUIC."
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.30"
p9_wire_format_derive = { path = "./third_party/p9_wire_format_derive", version = "0.2.3" }
p9 = { version = "0.2.3", path = "./third_party/rust-p9" }
tokio = { version = "1.35.1", features = ["full"] }
anyhow = "1.0.79"
async-trait = "0.1.77"
libc = "0.2.152"
s2n-quic = "1.32.0"
genfs = "0.1.4"
tokio-stream = { version = "0.1.14", features = ["full"] }
async-stream = "0.3.5"
clap = "4.4.18"
tokio-util = { version = "0.7.10", features = ["full"] }
tmpdir = "1.0.0"
x509-certificate = "0.23.1"
crc64 = "2.0.0"
tuple-map = "0.4.0"
futures-util = "0.3.30"
colored = "2.1.0"
serde = "1.0.196"
lazy_static = "1.4.0"
tower = "0.4.13"
bytes = "1.5.0"
slog = "2.7.0"
slog-term = "2.9.1"
slog-scope = "4.4.0"
termcolor = "1.4.1"
parking_lot = "0.12.1"
crc16 = "0.4.0"
slog-envlogger = "2.2.0"


[build-dependencies]
bindgen = "0.63"
pkg-config = "0.3"
which = "4.0.0"

[dev-dependencies]
