[package]
name = "jetstream_wireformat"
version = "8.1.1"
edition = { workspace = true }
description = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
documentation.workspace = true


crate-type = ["rlib", "staticlib", "cdylib"]

[lib]
bench = false

[features]
default = ["async", "std"]
std = []
async = ["dep:futures", "futures"]
testing = ["serde"]
serde = ["dep:serde"]
futures = ["dep:futures-util"]

[dependencies]
zerocopy = "0.8.17"
paste = "1.0.15"
bytes = { version = "1.10.0", features = ["serde"] }
jetstream_macros = { version = "8.1.1", path = "../jetstream_macros" }
futures-util = { version = "0.3.31", optional = true }
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
libc = "0.2.167"
tokio = { version = "1.42.0", features = ["full"] }
okstd = { version = "0.2.0" }
futures = { version = "0.3.31", optional = true }
tokio-util = { version = "0.7.13", features = ["full", "io", "time"] }
time = "0.3.37"
serde = { version = "1.0.215", features = ["derive"], optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
