<div class="markdown-heading"><h1 class="heading-element">JetStream Radar</h1><a id="user-content-jetstream-radar" class="anchor" aria-label="Permalink: JetStream Radar" href="#jetstream-radar"><span aria-hidden="true" class="octicon octicon-link"></span></a></div>
<p>JetStream Radar, <code>radar.jetstream.rs</code> is a test endpoint for testing JetStream and Cloudflare integration.</p>
<div class="markdown-heading"><h2 class="heading-element">Usage</h2><a id="user-content-usage" class="anchor" aria-label="Permalink: Usage" href="#usage"><span aria-hidden="true" class="octicon octicon-link"></span></a></div>
<div class="highlight highlight-source-shell"><pre>git clone https://github.com/sevki/jetstream.git
<span class="pl-c1">cd</span> jetstream
cargo install --path components/jetstream_radar
radar ping</pre></div>
