##
## Reindeer Configuration
## https://github.com/facebookincubator/reindeer
##

# Parse Rust code to work out the precise set of source files for each crate.
precise_srcs = true

# Possible patterns for license files.
license_patterns = ["LICENSE*", "COPYING*", "UNLICENSE*"]

# If a fixups.toml file is needed (eg, the package has a build.rs), then
# generate a template fixups.toml to be edited.
fixup_templates = true

# Include an explicit public top-level target which depends on all library
# targets, allowing `buck2 build //third-party:` to build everything.
include_top_level = true

# Download sources from crates.io at build time rather than vendoring.
vendor = false

# Configuration for generated BUCK file
[buck]
file_name = "BUCK"

# Rules used for various kinds of targets (macros that wrap the prelude rules).
rust_library = "shim.rust_library"
rust_binary = "cargo.rust_binary"
buildscript_genrule = "buildscript_run"

# Banner comment for the generated BUCK file.
generated_file_header = """
##
## @generated by reindeer
## Do not edit by hand.
##
## Run `reindeer --third-party-dir third-party buckify` to regenerate.
##
"""

# Imports added to the top of the generated BUCK file.
buckfile_imports = """
load("//third-party/macros:macro_shim.bzl", "shim")
load("@prelude//rust:cargo_buildscript.bzl", "buildscript_run")
load("@prelude//rust:cargo_package.bzl", "cargo")
"""

# Platforms for which to generate per-platform deps.
[platform.linux-x86_64]
x86_64-unknown-linux-gnu = []
target_family = ["unix"]
target_os = ["linux"]
target_env = ["gnu"]
target_arch = ["x86_64"]

[platform.linux-arm64]
aarch64-unknown-linux-gnu = []
target_family = ["unix"]
target_os = ["linux"]
target_env = ["gnu"]
target_arch = ["arm64", "aarch64"]

[platform.macos-x86_64]
x86_64-apple-darwin = []
target_family = ["unix"]
target_os = ["macos"]
target_env = []
target_arch = ["x86_64"]

[platform.macos-arm64]
aarch64-apple-darwin = []
target_family = ["unix"]
target_os = ["macos"]
target_env = []
target_arch = ["arm64", "aarch64"]

[platform.windows-msvc]
x86_64-pc-windows-msvc = []
target_family = ["windows"]
target_os = ["windows"]
target_env = ["msvc"]
target_arch = ["x86_64"]

[platform.wasm32]
wasm32-unknown-unknown = []
target_family = ["wasm"]
target_os = ["unknown"]
target_env = []
target_arch = ["wasm32"]
