name: "Rust Matrix Build & Test"
on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  jetstream-wasm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable]
        package: [jetstream_wireformat, jetstream_rpc]
    env:
      SCCACHE_GHA_CACHE_TO: sccache-wasm-${{ matrix.rust }}-${{ matrix.package }}
      SCCACHE_GHA_CACHE_FROM: sccache-wasm-${{ matrix.rust }}-${{ matrix.package }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust ${{ matrix.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: wasm32-unknown-unknown
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build
        run: cargo build -p ${{ matrix.package }} --verbose --target wasm32-unknown-unknown

  jetstream:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [stable, beta, nightly]
    env:
      SCCACHE_GHA_CACHE_TO: sccache-${{ matrix.os }}-${{ matrix.rust }}
      SCCACHE_GHA_CACHE_FROM: sccache-${{ matrix.os }}-${{ matrix.rust }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust ${{ matrix.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build
        run: cargo build -p jetstream --verbose
      - name: Test
        run: cargo test -p jetstream --verbose --all-features

  examples:
    needs: jetstream
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      SCCACHE_GHA_CACHE_TO: sccache-${{ matrix.os }}-stable
      SCCACHE_GHA_CACHE_FROM: sccache-${{ matrix.os }}-stable
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Run example echo
        run: cargo run --example echo --features quic
      - name: Run example iroh_echo
        run: cargo run --example iroh_echo --features iroh
