name: Build and Test

on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - "stable" #1.83
          - "beta" # 1.84
          - "nightly" # 1.85
          - "1.76.0"
          - "1.77.0"
          - "1.78.0"
          - "1.79.0"
          - "1.80.0"
          - "1.81.0"
          - "1.82.0"
    env:
      SCCACHE_GHA_ENABLED: on
    steps:
      - uses: actions/checkout@v3
      - name: Set up Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.6
      - name: Run sccache-cache only on non-release runs
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: mozilla-actions/sccache-action@v0.0.6
      - name: Set Rust caching env vars only on non-release runs
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
      - name: Build ${{ matrix.rust }}
        run: cargo build --verbose
      - name: Run tests jetstream
        run: cargo test --verbose --all-features -p jetstream
      - name: Run tests jetstream_9p
        run: cargo test --verbose --all-features -p jetstream_9p
      - name: Run tests jetstream_client
        run: cargo test --verbose --all-features -p jetstream_client
      - name: Run tests jetstream_cluster
        run: cargo test --verbose --all-features -p jetstream_distributed
      - name: Run tests jetstream_derive
        run: cargo test --verbose --all-features -p jetstream_macros
      - name: Run tests jetstream_server
        run: cargo test --verbose --all-features -p jetstream_server
      - name: Run tests jetstream_ufs
        run: cargo test --verbose --all-features -p jetstream_ufs
      - name: Run tests jetstream_wireformat
        run: cargo test --verbose --all-features -p jetstream_wireformat
      - name: Run tests jetstream_wireformat
        run: cargo test --verbose --target wasm32-unknown-unknown -p jetstream_wireformat
      - name: Run example echo 
        run: cargo run --example echo
