name: Build and Test

on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - "1.75.0"
          - "1.76.0"
          - "1.77.0"
          - "1.78.0"
          - "1.79.0"
          - "1.80.0"
          - "1.81.0"
          - "stable"
          - "beta" # beta
          - "nightly" # nightly
    steps:
      - uses: actions/checkout@v3
      - name: Set up Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Build ${{ matrix.rust }}
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: e2e tests
        run: cargo run -p e2e_tests
